<!--
      header
   -->
   <header class="header" data-header>
    <div class="container">
        <!-- LOGO GELİCEK
        <a href="#" class="logo">
            <img src="public/images/logo.svg" width="160" height="50" alt="Roka - Home">
        </a>
     -->
        <nav class="navbar" data-navbar>
            
            <button class="close-btn" aria-label ="close menu" data-nav-toggler>
                <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>

            <a href="#" class="logo">
                <img src="/public/images/logo.svg" width="160" height="50" alt="Roka - Home">
            </a>

            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="#home" class="navbar-link hover-underline">
                        <div class="separator"></div>

                        <span class="span">Home</span>
                    </a>
                </li>

                <li class="navbar-item">
                    <a href="#menu" class="navbar-link hover-underline">
                        <div class="separator"></div>

                        <span class="span">Menus</span>
                    </a>
                </li>

                <li class="navbar-item">
                    <a href="#about" class="navbar-link hover-underline">
                        <div class="separator"></div>

                        <span class="span">About Us</span>
                    </a>
                </li>

                <!--I cahnge these one-->
                <li class="navbar-item">
                    <a href="#order" class="navbar-link hover-underline">
                        <div class="separator"></div>

                        <span class="span">Order Online</span>
                    </a>
                </li>

                <li class="navbar-item">
                    <a href="#feedback" class="navbar-link hover-underline">
                        <div class="separator"></div>

                        <span class="span">Feedback</span>
                    </a>
                </li>

                <li class="navbar-item">
                    <a href="#footer" class="navbar-link hover-underline">
                        <div class="separator"></div>

                        <span class="span">Contact</span>
                    </a>
                </li>
            </ul>

            <div class="text-center">
                <p class="headline-1 navbar-title">Visit Us</p>

                <adress class="body-4">
                    ROKAA, 32 Oxford Street, Ripley,<br> 
                    Derbyshire DE5 3AP
                </adress>

                <p class="body-4 navbar-text">Open: 9.30 am - 2.30pm</p>
                
                <a href="mailto:booking@grilli.com" class="body-4 sidebar-link">booking@grilli.com</a>
                
                <div class="separator"></div>

                <p class="contact-label">Booking Request</p>

                <a href="tel:01773475814" class="body-1 contact-number hover-underline">01773475814</a>
            </div>

        </nav>

       
        <a href="register" class="btn btn-secondary">
            <span class="text text-1">Register</span>

            <span class="text text-2" aria-hidden="true">Register</span>
        </a>

        <a href="auth" class="btn btn-secondary">
            <span class="text text-1">Log In</span>

            <span class="text text-2" aria-hidden="true">Log In</span>
        </a>

        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </button>

        <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
   </header>