    <article>
    <!--
      Hero
   -->
      <section class="hero text-center" aria-label="home" id="home">
        
        <ul class="hero-slider" data-hero-slider>

            <li class="slider-item active" data-hero-slider-item>

                <div class="slider-bg">
                    <img src="/public/images/hero-slider-1.jpeg" width="1880" height="950" alt="" class="img-cover">
                </div>

                <p class="label-2 section-subtitle slider-reveal">Traditional & Hygine</p>

                <h1 class="display-1 hero-title slider-reveal">
                    For the love of <br>
                    delicious food
                </h1>

                <p class="body-2 hero-text slider-reveal">
                    Come with family & feel the joy of mouthwatering food
                </p>

                <a href="/menu" class="btn btn-primary slider-reveal">
                    <span class="text text-1">View Our Menu</span>

                    <span class="text text-2" aria-hidden="true">View Our Menu</span>
                </a>
            </li>

            <li class="slider-item" data-hero-slider-item>

                <div class="slider-bg">
                    <img src="/public/images/hero-slider-2.png" width="1880" height="950" alt="" class="img-cover">
                </div>

                <p class="label-2 section-subtitle slider-reveal">delightful experience</p>

                <h1 class="display-1 hero-title slider-reveal">
                    Flavors Inspired by <br>
                    the Seasons
                </h1>

                <p class="body-2 hero-text slider-reveal">
                    Come with family & feel the joy of mouthwatering food
                </p>

                <a href="/menu" class="btn btn-primary slider-reveal">
                    <span class="text text-1">View Our Menu</span>

                    <span class="text text-2" aria-hidden="true">View Our Menu</span>
                </a>
            </li>

            <li class="slider-item" data-hero-slider-item>

                <div class="slider-bg">
                    <img src="/public/images/hero-slider-3.png"" width="1880" height="950" alt="" class="img-cover">
                </div>

                <p class="label-2 section-subtitle slider-reveal">amazing & delicious</p>

                <h1 class="display-1 hero-title slider-reveal">
                    Where every flavor <br>
                    tells a story
                </h1>

                <p class="body-2 hero-text slider-reveal">
                    Come with family & feel the joy of mouthwatering food
                </p>

                <a href="/menu" class="btn btn-primary slider-reveal">
                    <span class="text text-1">View Our Menu</span>

                    <span class="text text-2" aria-hidden="true">View Our Menu</span>
                </a>
            </li>
        
        </ul>

        <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
             <ion-icon name="chevron-back"></ion-icon>
        </button>

        <button class="slider-btn next" aria-label="slide to next" data-next-btn>
            <ion-icon name="chevron-forward"></ion-icon>
        </button>

        <a href="#reservation" class="hero-btn has-after">
            <img src="/public/images/hero-icon.png" width="48" height="48" alt="booking icon">

            <span class="label-2 text-center span">Book A Table</span>
        </a>
      </section>

      <!--
      About Us
     -->
      <section class="section service bg-black-10 text-center" aria-label="service">
        <div class="container">

            <p class="section-subtitle label-2">Flavors For Royalty</p>

            <h2 class="headline-1 section-title">We Offer Top Notch</h2>

            <p class="section-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys standard dummy text ever.
            </p>

            <ul class="grid-list">
                <li class="service-card">
                    <a href="#" class="has-before hover:shine">
                        <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                            <img src="/public/images/service-1.jpg" width="285" height="336" loading="lazy" alt="Hot Starters" class="img-cover">
                        </figure>
                    </a>

                    <div class="card-content">
                        <h3 class="title-4 card-title">
                            <a href="#">Hot Starters</a> 
                        </h3>

                        <a href="/menu"  class="btn-text hover-underline label-2">View Menu</a>
                    </div>
                </li>

                <li class="service-card">
                    <a href="#" class="has-before hover:shine">
                        <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                            <img src="/public/images/service-2.jpg" width="285" height="336" loading="lazy" alt="Cold Starters" class="img-cover">
                        </figure>
                    </a>

                    <div class="card-content">
                        <h3 class="title-4 card-title">
                            <a href="#">Cold Starters</a> 
                        </h3>

                        <a href="/menu"  class="btn-text hover-underline label-2">View Menu</a>
                    </div>
                </li>

                <li class="service-card">
                    <a href="#" class="has-before hover:shine">
                        <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                            <img src="/public/images/service-3.jpg" width="285" height="336" loading="lazy" alt="Mains" class="img-cover">
                        </figure>
                    </a>

                    <div class="card-content">
                        <h3 class="title-4 card-title">
                            <a href="#">Mains</a> 
                        </h3>

                        <a href="/menu"  class="btn-text hover-underline label-2">View Menu</a>
                    </div>
                </li>

                <li class="service-card">
                    <a href="#" class="has-before hover:shine">
                        <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                            <img src="/public/images/service-3.jpg" width="285" height="336" loading="lazy" alt="Sides" class="img-cover">
                        </figure>
                    </a>

                    <div class="card-content">
                        <h3 class="title-4 card-title">
                            <a href="#">Sides</a> 
                        </h3>

                        <a href="/menu"  class="btn-text hover-underline label-2">View Menu</a>
                    </div>
                </li>

                <li class="service-card">
                    <a href="#" class="has-before hover:shine">
                        <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                            <img src="/public/images/service-3.jpg" width="285" height="336" loading="lazy" alt="Drinks" class="img-cover">
                        </figure>
                    </a>

                    <div class="card-content">
                        <h3 class="title-4 card-title">
                            <a href="#">Drinks</a> 
                        </h3>

                        <a href="/menu"  class="btn-text hover-underline label-2">View Menu</a>
                    </div>
                </li>

                <li class="service-card">
                    <a href="#" class="has-before hover:shine">
                        <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                            <img src="/public/images/service-3.jpg" width="285" height="336" loading="lazy" alt="Desserts" class="img-cover">
                        </figure>
                    </a>

                    <div class="card-content">
                        <h3 class="title-4 card-title">
                            <a href="#">Desserts</a> 
                        </h3>

                        <a href="/menu"  class="btn-text hover-underline label-2">View Menu</a>
                    </div>
                </li>
            </ul>

            <img src="/public/images/shape-1.png" width="246" height="412" loading="lazy" alt="shape" class="shape shape-1 move-anim">

            <img src="/public/images/shape-2.png" width="343" height="345" loading="lazy" alt="shape" class="shape shape-2 move-anim">

        </div>
      </section>
      <!--
      About Us
     -->
      <section class="section about text-center" aria-labelledby="about-label" id="about">
        <div class="container">

            <div class="about-content">
                <p class="label-2 section-subtitle" id="about-label">About Us</p>

                <h2 class="headline-1 section-title">Every Flavor Tels a Story</h2>
                
                <p class="section-text">
                    ROKAA is located on 32 Oxford Street Ripley Derbyshire DE5 3AP. We are for you and all you need to do is decide what you want to eat. 
                    We have all your favourite dishes such as Starters, Combinations, Sharing Platters, Fish Dishes, Wraps and many more. 
                    Also, don't forget to provide your feedback
                </p>

                <div class="contact-label">Book Through Call</div>

                <a href="tel:01773475814" class="body-1 contact-number hover-underline">01773475814</a>

            </div>

            <figure class="about-banner">
                <img src="/public/images/about-banner.jpg" width="570" height="570" loading="lazy" alt="about banner" class="w-100" data-parallax-item data-parallax-speed="1">
                
                <div class="abs-img abs-img-1 has-before " data-parallax-item data-parallax-speed="1.75">
                    <img src="/public/images/about-abs-image.jpg" width="285" height="285" loading="lazy" alt="" class="w-100" >
                </div>

                <div class="abs-img abs-img-2 has-before">
                    <img src="/public/images/badge-2.png" width="133" height="134" loading="lazy" alt="" >
                </div>

                <img src="/public/images/shape-3.png" width="197" height="194" loading="lazy" alt="" class="shape">
                
            </figure>
        </div>
      </section>

     
     
      <!--
      Menu
     -->
     <section class="section menu" aria-label="menu-label" id="menu">
        <div class="container">

            <p class="section-subtitle text-center label-2">Special Selection</p>

            <h2 class="headline-1 section-title text-center">Delicious Menu</h2>

            <ul class="grid-list">

                <li>
                    <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                            <img src="/public/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad" class="img-cover">
                        </figure>

                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                    <a href="#" class="card-title">Iskender Lamb</a>
                                </h3>

                                <span class="badge label-1">Seasonal</span>

                                <span class="span title-2">£16.00</span>
                            </div>

                            <p class="card-text label-1">
                                Lamb kofte kebab on turkish flat bread with rich tomato sauce yogurt and drizzle of butter.      
                            </p>             
                        </div>
                    </div>
                </li>

                <li>
                    <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                            <img src="/public/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad" class="img-cover">
                        </figure>

                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                    <a href="#" class="card-title">Iskender Chicken</a>
                                </h3>

                                <span class="span title-2">£15.00</span>
                            </div>

                            <p class="card-text label-1">
                                Chicken kofte kebab on turkish flat bread with rich tomato sauce yogurt and drizzle of butter.     
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                            <img src="/public/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad" class="img-cover">
                        </figure>

                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                    <a href="#" class="card-title">Roka Kebab Lamb</a>
                                </h3>

                                <span class="span title-2">£18.00</span>
                            </div>

                            <p class="card-text label-1">
                                Marinated lamb cooked over barbecue grill with fried aubergines rich tomato sauce and melted cheese.                            
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                            <img src="/public/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad" class="img-cover">
                        </figure>

                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                    <a href="#" class="card-title">Roka Kebab Chicken</a>
                                </h3>

                                <span class="span title-2">£16.00</span>
                            </div>

                            <p class="card-text label-1">
                                Skewered spice minced lamb cooked over barbecue grill.    
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                            <img src="/public/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad" class="img-cover">
                        </figure>

                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                    <a href="#" class="card-title">Chicken Beyti</a>
                                </h3>

                                <span class="span title-2">£13.50</span>
                            </div>

                            <p class="card-text label-1">
                                Barbecued spiced minced chicken rolled with tortilla on top of garlic yogurt with drizzle of butter.
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                            <img src="/public/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad" class="img-cover">
                        </figure>

                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                    <a href="#" class="card-title">Lamb Beyti</a>
                                </h3>

                                <span class="span title-2">£13.00</span>
                            </div>

                            <p class="card-text label-1">
                                Barbecued spiced minced lamb rolled with tortilla on top of garlic yogurt and drizzle of butter.
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                            <img src="/public/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad" class="img-cover">
                        </figure>

                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                    <a href="#" class="card-title">Ali Nazik Lamb</a>
                                </h3>

                                <span class="span title-2">£17.00</span>
                            </div>

                            <p class="card-text label-1">
                                Barbecued lamb breast over smashed aubergines with garlic yogurt and drizzle of butter.
                            </p>
                        </div>
                    </div>
                </li>                

                <li>
                    <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                            <img src="/public/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad" class="img-cover">
                        </figure>

                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                    <a href="#" class="card-title">Vegetarian Moussaka</a>
                                </h3>

                                <span class="span title-2">£14.50</span>
                            </div>

                            <p class="card-text label-1">
                                Fried aubergine, potatoes with carrot paprikas courgettes onions garlic and bechamel sauce with rich tomato sauce.
                            </p>
                        </div>
                    </div>
                </li>        

            </ul>

            <p class="menu-text text-center">
                <span class="span">12.00 pm</span> to <span class="span">10.30 pm</span>
            </p>

            <a href="/menu" class="btn btn-primary">
                <span class="text text-1">View All Menu</span>

                <span class="text text-2" aria-hidden="true">View All Menu</span>
            </a>

            <img src="/public/images/shape-5.png" width="921" height="1036" loading="lazy" alt="shape" class="shape shape-2 move-anim">

            <img src="/public/images/shape-6.png" width="343" height="345" loading="lazy" alt="shape" class="shape shape-3 move-anim">

        </div>
     </section> 


     <!--
      Testimonials
     -->

     <section class="section testi text-center has-bg-image" style="background-image: url('/public/images/testimonial-bg.jpg');" aria-label="testimonials">
        <div class="container">

            <div class="quote">”</div>

            <p class="headline-2 testi-text">
                I wanted to thank you for inviting me down for that amazing dinner the other 
                night. The food was 
                extraordinary.
            </p>

            <div class="wrapper">
                <div class="separator"></div>
                <div class="separator"></div>
                <div class="separator"></div>
            </div>

            <div class="profile">
                <img src="/public/images/testi-avatar.jpg" width="100" height="100" loading="lazy" alt="" class="img">

                <p class="label-2 profile-name">Sam Jhonson</p>
            </div>
        </div>
     </section>

     <!--
      Reservation
     
     <section class="reservation" id="reservation">
        <div class="container">

            <div class="form reservation-form bg-black-10">

                <form action="" class="form-left">
                    <h2 class="headline-1 text-center">Online Reservation</h2>

                    <p class="form-text text-center">
                        Booking request <a href="tel:01773475814" class="link">01773475814</a>
                        or fill out the order form
                    </p>

                    <div class="input-wrapper">
                        <input type="text" name="name"  placeholder="Your Name" autocomplete="off" class="input-field">

                        <input type="tel" name="phone" autocomplete="off" placeholder="Phone Number" autocomplete="off" class="input-field">

                    </div>

                    <div class="input-wrapper">
                        <div class="icon-wrapper">
                            <ion-icon name="person-outline" aria-hidden="true"></ion-icon> 
                            
                            <select name="person" class="input-field">
                                <option value="1-Person">1 Person</option>
                                <option value="2-Person">2 Person</option>
                                <option value="3-Person">3 Person</option>
                                <option value="4-Person">4 Person</option>
                                <option value="5-Person">5 Person</option>
                                <option value="6-Person">6 Person</option>
                                <option value="7-Person">7 Person</option>
                            </select>

                            <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>

                        </div>

                        <div class="icon-wrapper">
                            <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>
                            
                            <input type="date" name="reservation-date" class="input-field">

                            <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>

                        </div>

                        <div class="icon-wrapper">
                            <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                            <select name="person" class="input-field">
                                <option value="12:00 am">12 : 00 am</option>
                                <option value="01:00 pm">01 : 00 pm</option>
                                <option value="02:00 pm">02 : 00 pm</option>
                                <option value="03:00 pm">03 : 00 pm</option>
                                <option value="04:00 pm">04 : 00 pm</option>
                                <option value="05:00 pm">05 : 00 pm</option>
                                <option value="06:00 pm">06 : 00 pm</option>
                                <option value="07:00 pm">07 : 00 pm</option>
                                <option value="08:00 pm">08 : 00 pm</option>
                                <option value="09:00 pm">09 : 00 pm</option>
                                <option value="10:00 pm">10 : 00 pm</option>
                            </select>

                            <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                        </div>

                    </div>

                    <textarea name="mesage" placeholder="Message" autocomplete="off" class="input-field"></textarea>
                    
                    <button type="submit" class="btn btn-secondary">
                        <span class="text text-1">Book A Table</span>

                        <span class="text text-2" aria-hidden="true">Book A Table</span>

                    </button>
                
                </form>

                <div class="form-right text-center" style="background-image: url('/public/images/form-pattern.png');">
                    <h2 class="headline-1 text-center">Contact Us</h2>
    
                    <p class="contact-label">Booking Request</p>
    
                    <a href="tel:01773475814" class="body-1 contact-number hover-underline">01773475814</a>
                    
                    <div class="separator"></div>

                    <p class="contact-label">Location</p>
    
                    <address class="body-4">
                        32 Oxford Street, Ripley, <br>
                        Derbyshire DE5 3AP.
                    </address>
    
                    <p class="contact-label">Working Hours</p>
    
                    <p class="body-4">
                        Tuesday to Sunday <br>
                        12.00 pm - 10.30 pm
                    </p>
    
                    <p class="contact-label">Collection Hours</p>
    
                    <p class="body-4">
                        Tuesday to Sunday <br>
                        12.00 pm - 10.30 pm
                    </p>
    
                    <p class="contact-label">Delivery Hours</p>
    
                    <p class="body-4">
                        Tuesday to Friday and Sunday <br>
                        04.00 pm - 10.30 pm
                    </p>
                </div>

            </div>

            
        </div>
     </section>
-->
     <!--
      Features 
     -->
     <section class="section features text-center" aria-label="features">
        <div class="container" >
            <p class="section-subtitle label-2">Why Choose Us</p>

            <h2 class="headline-1 section-title">Our Strength</h2>

            <ul class="grid-list">

                <li class="feature-item">
                    <div class="feature-card">

                        <div class="card-icon">
                            <img src="/public/images/features-icon-1.png" width="100" height="80" loading="lazy" alt="icon">
                        </div>

                        <h3 class="title-2 card-title">Hygienic Food</h3>

                        <p class="label-1 card-text">Lorem Ipsum is simply dummy printing and typesetting.</p>
                    </div>
                </li>

                <li class="feature-item">
                    <div class="feature-card">

                        <div class="card-icon">
                            <img src="/public/images/features-icon-2.png" width="100" height="80" loading="lazy" alt="icon">
                        </div>

                        <h3 class="title-2 card-title">Fresh Environment</h3>
                        
                        <p class="label-1 card-text">Lorem Ipsum is simply dummy printing and typesetting.</p>

                    </div>
                </li>

                <li class="feature-item">
                    <div class="feature-card">

                        <div class="card-icon">
                            <img src="/public/images/features-icon-3.png" width="100" height="80" loading="lazy" alt="icon">
                        </div>

                        <h3 class="title-2 card-title">Skilled Chefs</h3>

                        <p class="label-1 card-text">Lorem Ipsum is simply dummy printing and typesetting.</p>

                    </div>
                </li>

                <li class="feature-item">
                    <div class="feature-card">

                        <div class="card-icon">
                            <img src="/public/images/features-icon-4.png" width="100" height="80" loading="lazy" alt="icon">
                        </div>

                        <h3 class="title-2 card-title">Event & Party</h3>

                        <p class="label-1 card-text">Lorem Ipsum is simply dummy printing and typesetting.</p>

                    </div>
                </li>

            </ul>

            <img src="/public/images/shape-7.png" width="208" height="178" loading="lazy" alt="shape" class="shape shape-1">

            <img src="/public/images/shape-8.png" width="120" height="115" loading="lazy" alt="shape" class="shape shape-2">

        </div>
     </section>

     <!-- Event
     
     <section class="section event bg-black-10" aria-label="event">
        <div class="container">

            <p class="section-subtitle label-2 text-center">Recent Updates</p>

            <h2 class="section-title headline-1 text-center"></h2>
        </div>
     </section>
    -->

    <!--
      Footer
     -->
     <footer class="footer section has-bg-image text-center" style="background-image: url('/public/images/footer-bg.jpg')" id="footer">
        <div class="container">

            <div class="footer-top grid-list">
                
                <div class="footer-brand has-before has-after">

                    <a href="#" class="logo">
                       <!--<img src="/public/images/logo.svg" width="160" height="50" loading="lazy" alt="Rokaa home">--> 
                    </a>

                    <address class="body-4">
                        32 Oxford Street, Ripley, Derbyshire DE5 3AP
                    </address>

                    <a href="mailto:booking@rokaa.com" class="body-4 contact-link">booking@rokaa.com</a>

                    <a href="tel:01773475814" class="body-4 contact-link">Booking Request :
                    01773475814</a>

                    <p class="body-4">
                        Open: Tuesday to Sunday 12.00 pm - 10.30 pm
                    </p>

                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>

                    <p class="title-1">Get News & Offers</p>

                    <p class="label-1">
                        Subscribe us & Get <span class="span">25% Off.</span>
                    </p>

                    <form action="" class="input-wrapper">
                        <div class="icon-wrapper">
                            <ion-icon namr="mail-outline" aria-hidden="true"></ion-icon>

                            <input type="email" name="email_address" placeholder="Your email" autocomplete="off" class="input-field">
                        </div>

                        <button type="submit" class="btn btn-secondary">
                            <span class="text text-1">Subscribe</span>

                            <span class="text text-2" aria-hidden="true">Subscribe</span>

                        </button>
                    </form>
                </div>

                <ul class="footer-list">
                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Home</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Menus</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">About Us</a>
                    </li>
                    
                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Contact</a>
                    </li>
                
                </ul>

                <ul class="footer-list">
                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Facebook</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Instagram</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Twitter</a>
                    </li>
                    
                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Youtube</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Google Map</a>
                    </li>
                
                </ul>

            </div>  
            
            <!--Footer-bottom copyright part kısmını unutma-->
        </div>
     </footer>

     <!--
      Back To Top
     -->
     <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
        <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
     </a>


    </article>