<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Roka Restaurant - Amazing & Delicious Food</title>

   <!--
    favicon 
   -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" >

    <!--
    google font link 
   -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">

   <!--
    custom css link
   -->
   <link rel="stylesheet" href="/public/stylesheets/style.css">

    <!--
    preload images
   -->
    <link rel="preload" as="image" href="/public/images/hero-slider-1.jpeg">
    <link rel="preload" as="image" href="/public/images/hero-slider-2.png">
    <link rel="preload" as="image" href="/public/images/hero-slider-3.png">
    
  
</head>

<body id="top">
  <%- include('preloader') %>
  <%- include('top_bar') %>
  <%- include('header_logged_in') %>

  <main>
    <%- include('home') %>
  </main>
  
  
  <script src="/public/javascripts/script.js"></script>
   <script
    src="https://unpkg.com/react-stackai@latest/dist/vanilla/vanilla-stackai.js"
    data-project-url="https://www.stack-ai.com/embed/6b2cfb05-c02c-4a17-8604-9a382d4ca77a/c096903b-b527-43ce-8c51-27fb524a46be/684fc5bf732ce1e8beaf2115">
  </script>
        <!--
    ionicon link
   -->
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

      
</body>
</html>
