<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Roka Restaurant - Amazing & Delicious Food</title>

   <!--
    favicon 
   -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" >

    <!--
    google font link 
   -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">

   <!--
    custom css link
   -->
   <link rel="stylesheet" href="/public/stylesheets/style.css">

    <!--
    preload images
   -->
    <link rel="preload" as="image" href="/public/images/hero-slider-1.jpeg">
    <link rel="preload" as="image" href="/public/images/hero-slider-2.png">
    <link rel="preload" as="image" href="/public/images/hero-slider-3.png">
    
   

  
</head>

<body class="reservation_body" id="body">
  <%- include('top_bar') %>


  <main>

<!-- order.html -->
    <div class="ordering-page"  style=" display: flex; height: 100vh;  background-image: url('/public/images/special-dish-banner.jpg');background-size: cover; background-position: center; ">
        <div class="left-side" id="menuItems" style =" padding: 20px; overflow-y: auto;  width: 100%; display: flex; flex-wrap: wrap; gap: 20px;" >
            <!-- Menu items will be dynamically inserted here -->
             
        <section class="order-section" style="padding: 0;margin: 0%; margin-top: 20px;width:100%; background-color: transparent; color: white; ">
            <h2 class="headline-1 text-center">WAITING ORDERS</h2>
            <table id="Orders" style="width: 80%; margin-top: 20px;  border: 3px solid white; background-color: rgba(0, 0, 0, 0.5);">
              <thead>
                <tr style="background-color: var(--gold-crayola); color: var(--black);">
                  <th style="padding: 12px;   border: 3px solid white;">Collection Time</th>
                  <th style="padding: 12px;   border: 3px solid white;">Collection Hour</th>
                  <th style="padding: 12px;   border: 3px solid white;">Price</th>
                  <th style="padding: 12px;   border: 3px solid white;">First Name</th>
                  <th style="padding: 12px;   border: 3px solid white;">Last Name</th>
                  <th style="padding: 12px;  border: 3px solid white;">Items</th>
                  <th style="padding: 12px;  border: 3px solid white;">Accept or Delete</th>
                </tr>
              </thead>
              <tbody id="ordersBody" style="border: 3px solid white;">

              </tbody>
            </table>
        </section>
        </div>

        
        <div class="right-side" id="cart" style ="margin-block-start: 50px; padding: 20px;overflow-y: overlay;  width: 40%; background-color:var(--gold-crayola); " >
          <h2>Accepted Order</h2>
          <section class="order-items-section" style="padding: 0;margin: 0%;width:100%; background-color: var(--gold-crayola); color: white ;opacity: 0.7;">
            <h2 class="headline-1 text-center"> </h2>

            <table id="orderItems" style="width: 100%; margin-top: 20px; padding-left:0;  border-collapse: collapse;">
                <thead> 
                  <tr style="background-color: var(--gold-crayola); color: var(--black);">
                    <th style="padding: 4px;">First Name</th>
                    <th style="padding: 4px;">Last Name</th>
                    <th style="padding: 4px;">Prices</th>
                  </tr>
                </thead>
                <tbody id="orderItemsBody">

                </tbody>
                
              </table>
              
              
              <button id="submitOrder" style="display:none; padding: 2px; background-color: var(--gold-crayola); color: white;"" onclick="submitOrder()">Submit Order</button>
              <button id="clearOrders" style="display:none; padding: 2px; background-color: var(--gold-crayola); color: white;" onclick="clearOrders()">Clear All Orders</button>
         </section>
        </div>
        
        </div>

      
    </div>

   
  </main>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  
    <script>
    async function loadOrders() {
      const token = localStorage.getItem("accessToken");
      if (!token) {
        return;
      }
      try {
        // getting items from DB
         const res = await axios.get("/api/orders", {
          headers: {
            Authorization: `Bearer ${token}`
          }
        });
        const orders = res.data.data;
        
        // clear order table
        const tbody = document.getElementById("ordersBody");
        tbody.innerHTML = "";

        // filing the row
        orders.forEach((i) => {
          const tr = document.createElement("tr");
          console.log(orders);
          tr.innerHTML = `
            <td style="padding: 12px;">${i.collectionTime}</td>
            <td style="padding: 12px;">${i.collectionHour}</td>
            <td style="padding: 12px;">${i.price}</td>
            <td style="padding: 12px;">${i.created_by?.first_name || 'N/A'} </td>
            <td style="padding: 12px;">${i.created_by?.last_name || 'N/A'}  </td>
            <td style="padding: 12px;"> 
              <ol>
                ${i.items.map(item => `<li>${item.name}</li>`).join('')}
              </ol>
            </td>
            <td style="padding: 12px;">
              <button  style="color: white" onclick="deleteOrder(this, '${i._id}')">Delete</button>
              <button  style="color: white" onclick="accept(this, '${i._id}', '${i.price}', '${i.created_by?.first_name}','${i.created_by?.last_name}')">Accept</button>
            </td>
          `;
          
          tbody.appendChild(tr);
        });

        
      } catch (err) {
        console.error("Error loading reservations:", err);
      }
    }

   

    async function accept(buttonElement, orderId, price, first_name, last_name){
        try {
            const token = localStorage.getItem("accessToken");
            if (!token) {
              return;
            }
            const tbody = document.getElementById("orderItemsBody");
            const tr = document.createElement("tr");

            tr.innerHTML = `
            <td style="padding: 2px; background-color: var(--gold-crayola); color: var(--black);">${first_name}</td>
            <td style="padding: 2px; background-color: var(--gold-crayola); color: var(--black);">${last_name}</td>
            <td style="padding: 2px; background-color: var(--gold-crayola); color: var(--black);">${price}</td>
            <td style="padding: 2px;">
                  <button  style="padding: 2px; background-color: var(--gold-crayola); color: var(--black);" onclick="deleteRow(this)">Delete</button>
            </td>
           `     
            tbody.appendChild(tr);

            document.getElementById("clearOrders").style.display = "inline-block";

            const payload={
                _id: orderId,
                price:price,
                first_name: first_name,
                last_name: last_name,
                isActive: true
            }

            const res = await axios.post("/api/orders/update", payload, {
              headers: {
                Authorization: `Bearer ${token}`
              }
            });
        
            const updated= res.data.code;
            console.log(updated);
            deleteRow(buttonElement);

      } catch(err){
        console.log(err);
        console.error("Delete failed");
      }
    }
    
    async function deleteOrder(buttonElement, orderId){
      try {
        const token = localStorage.getItem("accessToken");
            if (!token) {
              return;
            }
        const res =await axios.post('/api/orders/delete', {_id: orderId}, {
              headers: {
                Authorization: `Bearer ${token}`
              }
        });

        const row= buttonElement.closest("tr");
        if (row) {
        row.remove();
        }

        

      } catch(err){
        console.error("Error deleting orders:", err);
      }
    }

    async function deleteRow(buttonElement){
      const row= buttonElement.closest("tr");
      if (row) {
         row.remove();
      }
    }

    async function clearOrders(){
      const tbody = document.getElementById("orderItemsBody");
      tbody.innerHTML = "";
      document.getElementById("clearOrders").style.display = "none";
    }

 
    window.addEventListener("DOMContentLoaded", loadOrders);
    </script>
  <%- include('script') %>
</body>
</html>